
.TestYourself-Container {
    width: 70%;
    height: 70%;
    background-color: #1A0F52;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0.7rem;
}
.TestYourself-Title {
    width: 40%;
    height: 10%;
    background-color: #6235FF;
    display: flex;
    justify-content: center;
    border-radius: 0.7rem;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 1.2px;
    color: #ffff;
    animation: title 0.4s ease-in;

}

@keyframes title {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*  #1A1053        */
.TestYourself-Remarque {
    width: 85%;
    height: 50%;
    background-color: #6235FF;
    border-radius: 0.7rem;
    color: white;
    font-size: 0.85rem;
    text-align: center;
    padding: 1rem;
    animation: title 0.8s 0.5s ease-in both;
}
.StartTest-btn {
    width: 20%;
    height: 9%;
    background-color: #6235FF;
    border-radius: 0.9rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 1.2px;
    font-weight: 500;
    color: white;
    transition: 0.2s all ease-in;
    justify-content: space-evenly;
    animation: title 0.8s 1s ease-in both;

}
.Arrow {
    margin-top: 0.5rem;
    font-weight: bolder;
}
.StartTest-btn:hover {
    background-color: #542de2;
}
@media only screen and (max-width: 768px) {
    .TestYourself-Container {
        width: 97%;
        height: 95%;
        
    }
    .TestYourself-Title {
        width: 90%;
        height: 8%;
        font-size: 0.7rem;
    
    }
    .TestYourself-Remarque {
        width: 85%;
        height: 60%;
        font-size: 0.56rem;
    }
    .StartTest-btn {
        width: 60%;
        height: 7.5%;
        font-size: 0.75rem;
        letter-spacing: 0.1px;
        font-weight: 500;
        color: white;
        transition: 0.2s all ease-in;
        justify-content: space-around;
        animation: title 0.8s 1s ease-in both;
    
    }
    .Arrow {
        margin-top: 0.2rem;
        font-weight: bolder;
        font-size: 0.2rem;
    }
    
}
@media only screen and (max-height: 640px ) and (min-width: 320px) {
    .TestYourself-Container {
        width: 97%;
        height: 95%;
        
    }
    .TestYourself-Title {
        width: 90%;
        height: 8%;
        font-size: 0.5rem;
    
    }
    .TestYourself-Remarque {
        width: 85%;
        height: 70%;
        font-size: 0.505rem;
        font-weight: 200;
    }
    .StartTest-btn {
        width: 60%;
        height: 7.5%;
        font-size: 0.75rem;
        letter-spacing: 0.1px;
        font-weight: 500;
        color: white;
        transition: 0.2s all ease-in;
        justify-content: space-around;
        animation: title 0.8s 1s ease-in both;
    
    }
    .Arrow {
        margin-top: 0.2rem;
        font-weight: bolder;
        font-size: 0.2rem;
    }
}