.Nav-Container {
    width: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .Nav-Logo {
      width: 9rem;
      height: 9rem;
  }
  .Nav-Logo img {
      width: 100%;
      height: 100%;
  }
  .Navbar {
      width: 100%;
      height: 60%;
      margin-bottom: 12rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: space-around;
  }
  .icon-img {
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
  }
  .icon-img img {
      width: 100%;
      height: 100%;
  }
  .list {
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0.3rem;
      align-items: center;
      justify-content: space-around;
      border-radius: 5rem 0px 0rem 10rem;
      background-color: white;
      border-left: yellow 3px;
      color: #1a1053;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  }
  .list1 {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 5rem 0px 0rem 10rem;
    border-left: yellow 3px;
    color: #817c9b;
    cursor: pointer;
}
  .list-title {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
  }
  
  .Dashbord-Container {
      width: 90%;
      height: 100vh;
      background-color: white;
      border-radius: 4rem 0rem 0rem 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    
  }

  @media only screen and (max-width: 768px) {
  
    .Nav-Container {
        width: 20%;
        height: 100%;
      }
      .Nav-Logo {
        width: 3rem;
        height: 3rem;
    }
    .list-title {
        font-size: 0.5rem;
    }
    .Dashbord-Container {
        border-radius: 0rem 0rem 0rem 0rem;
 
    }
    .list {
      border-radius: 1rem 0px 0rem 1rem;
    }
  
}